<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>保健品推荐</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../../lib/layui-v2.5.5/css/layui.css" media="all">
		<link rel="stylesheet" href="../../css/public.css" media="all">
		<style>
			body {
            	background-color: #ffffff;
        	}
    </style>
	</head>
	<body>
		<form class="layui-form layui-form-pane" lay-filter="myForm" id="app">		
									<div class="layui-col-xs12 layui-col-md6">
				<div class="layui-form-item" pane>
					<label class="layui-form-label">标题：</label>
					<div class="layui-input-block">
						<input disabled="disabled" v-model="detail.biaoti" type="text" name="biaoti" id="biaoti" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
												<div class="layui-col-xs12 layui-col-md6">
				<div class="layui-form-item" pane>
					<label class="layui-form-label">推荐药品</label>
					<div class="layui-input-block">
						<input disabled="disabled" v-model="detail.tuijianyaopin" type="text" name="tuijianyaopin" id="tuijianyaopin" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
												<div class="layui-col-xs12 layui-col-md6">
				<div class="layui-form-item" pane>
					<label class="layui-form-label">药品图片：</label>
					<div v-if="detail.yaopintupian" class="layui-input-block">
						<img id="yaopintupianImg" style="width: 91px;height: 91px;" :src="detail.yaopintupian">
						<input type="hidden" :value="detail.yaopintupian" id="yaopintupian" name="yaopintupian" />
					</div>
				</div>
			</div>
												<div class="layui-col-xs12 layui-col-md6">
				<div class="layui-form-item" pane>
					<label class="layui-form-label">适用人群</label>
					<div class="layui-input-block">
						<input disabled="disabled" v-model="detail.shiyongrenqun" type="text" name="shiyongrenqun" id="shiyongrenqun" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
												<div class="layui-col-xs12 layui-col-md6">
				<div class="layui-form-item" pane>
					<label class="layui-form-label">适用季节</label>
					<div class="layui-input-block">
						<input disabled="disabled" v-model="detail.shiyongjijie" type="text" name="shiyongjijie" id="shiyongjijie" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
												<div class="layui-col-xs12 layui-col-md6">
				<div class="layui-form-item" pane>
					<label class="layui-form-label">不良反应：</label>
					<div class="layui-input-block">
						<input disabled="disabled" v-model="detail.buliangfanying" type="text" name="buliangfanying" id="buliangfanying" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
												<div class="layui-col-xs12 layui-col-md6">
				<div class="layui-form-item" pane>
					<label class="layui-form-label">用量用法：</label>
					<div class="layui-input-block">
						<input disabled="disabled" v-model="detail.yongliangyongfa" type="text" name="yongliangyongfa" id="yongliangyongfa" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
																														<div class="layui-col-xs12 layui-col-md6">
				<div class="layui-form-item" pane>
					<label class="layui-form-label">赞：</label>
					<div class="layui-input-block">
						<input disabled="disabled" v-model="detail.thumbsupnum" type="text" name="thumbsupnum" id="thumbsupnum" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
												<div class="layui-col-xs12 layui-col-md6">
				<div class="layui-form-item" pane>
					<label class="layui-form-label">踩：</label>
					<div class="layui-input-block">
						<input disabled="disabled" v-model="detail.crazilynum" type="text" name="crazilynum" id="crazilynum" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
									
																																																									<div class="layui-col-xs12 layui-col-md12">
				<div class="layui-form-item" pane>
					<label class="layui-form-label">用药指南：</label>
					<div class="layui-input-block">
						<div v-html="detail.yongyaozhinan"></div>
					</div>
				</div>
			</div>
																				</form>

		<script src="../../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
		<script src="../../js/lay-config.js?v=2.0.0" charset="utf-8"></script>
		<script src="../../js/utils.js" charset="utf-8"></script>
		<script src="../../js/validate.js" charset="utf-8"></script>
		<script src="../../js/vue.js" charset="utf-8"></script>
		<script>
			var vue = new Vue({
				el: '#app',
				data: {
					detail: {
                                                biaoti: '',
                                                tuijianyaopin: '',
                                                yaopintupian: '',
                                                shiyongrenqun: '',
                                                shiyongjijie: '',
                                                buliangfanying: '',
                                                yongliangyongfa: '',
                                                yaopingongxiao: '',
                                                yongyaozhinan: '',
                                                thumbsupnum: '',
                                                crazilynum: '',
                                            }
				},
				updated: function() {
					layui.form.render('select', 'myForm');
				},
                computed: {},
				methods: {
					jump(url) {
						jump(url)
					}
				}
			})

			layui.use(['layer', 'element',  'jquery', 'form', 'http'], function() {
				var layer = layui.layer;
				var element = layui.element;
				var http = layui.http;
				var jquery = layui.jquery;
				var form = layui.form;

                var id = http.getParam('id');
				http.request('baojianpintuijian/info/' + id, 'get', {}, (res) => {
					form.val(res.data)
					vue.detail = res.data;
				})

			});
		</script>
	</body>
</html>
